.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-thq-navigation-logo-elm {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm3 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm4 {
  text-decoration: none;
}
 
.navigation-thq-navigation-social-link-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-social-link-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-social-link-elm4 {
  text-decoration: none;
}
 
.navigation-thq-navigation-mobile-link-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-mobile-link-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-mobile-link-elm3 {
  text-decoration: none;
}
 
.navigation-thq-navigation-mobile-link-elm4 {
  text-decoration: none;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-social-icon-elm1 {
  text-decoration: none;
}
 
.footer-thq-footer-social-icon-elm2 {
  text-decoration: none;
}
 
.footer-thq-footer-social-icon-elm4 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm1 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm2 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm3 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm4 {
  text-decoration: none;
}
 
.footer-thq-footer-cta-link-elm {
  text-decoration: none;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
.footer-container4 {
  display: none;
}
 
.footer-container5 {
  display: contents;
}

.page-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.page-thq-gallery-video-play-icon-elm {
  color: var(--color-on-accent);
}
 
.page-container2 {
  display: none;
}
 
.page-container3 {
  display: contents;
}
 
.page-container4 {
  display: none;
}
 
.page-container5 {
  display: contents;
}
 
@media(max-width: 767px) {
  .page-thq-gallery-video-play-icon-elm {
    width: 48px;
    height: 48px;
  }
}
 
@media(max-width: 479px) {
  .page-thq-hero-title-elm {
    font-size: 40px;
  }
  .page-thq-section-content-elm1 {
    font-size: 16px;
  }
  .page-thq-section-title-elm1 {
    font-size: 32px;
  }
  .page-thq-teacher-card-image-elm1 {
    height: 359px;
  }
  .page-thq-teacher-card-image-elm3 {
    height: 367px;
  }
  .page-thq-teacher-card-image-elm4 {
    height: 358px;
  }
  .page-thq-teacher-card-image-elm6 {
    height: 382px;
  }
  .page-thq-gallery-video-image-elm1 {
    height: 447px;
  }
  .page-thq-gallery-video-image-elm2 {
    height: 499px;
  }
  .page-thq-gallery-video-image-elm3 {
    height: 344px;
  }
}
