.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-thq-navigation-logo-elm {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm3 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-elm4 {
  text-decoration: none;
}
 
.navigation-thq-navigation-social-link-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-social-link-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-social-link-elm4 {
  text-decoration: none;
}
 
.navigation-thq-navigation-mobile-link-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-mobile-link-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-mobile-link-elm3 {
  text-decoration: none;
}
 
.navigation-thq-navigation-mobile-link-elm4 {
  text-decoration: none;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
